*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

body {
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
}

.blokjes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.blokjes > div {
    background: rgb(116, 17, 229);
    border-radius: 0.7rem;
    padding: 2rem;
    height: 20rem;
    width: 20rem;
    display: flex;
}